* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, Arial, sans-serif;
}

body {
    background:#05070d;
    color:white;
    line-height:1.8;
}


header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:#080b14;
    border-bottom:1px solid #1b2a45;
}


header h1 {
    color:#00aaff;
    letter-spacing:2px;
}


nav a {
    color:white;
    text-decoration:none;
    margin:0 12px;
    transition:.3s;
}


nav a:hover {
    color:#00aaff;
}



.hero {

    min-height:85vh;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;

    background:
    radial-gradient(circle at top,#12345a,#05070d 60%);

    padding:40px;
}



.hero h2 {

    font-size:50px;
    color:#00aaff;
    margin-bottom:20px;

}


.hero p {

    max-width:700px;
    font-size:20px;
    color:#cbd5e1;
    margin:auto;

}



.btn {

    display:inline-block;
    margin:30px 10px 0;
    padding:14px 30px;

    background:#00aaff;
    color:white;

    text-decoration:none;
    border-radius:10px;

    transition:.3s;

}



.btn:hover {

    transform:translateY(-5px);
    box-shadow:0 0 25px #00aaff;

}



.second {

    background:#111827;

}



.services {

    padding:70px 8%;
    text-align:center;

}



.services h2 {

    font-size:35px;
    margin-bottom:40px;
    color:#00aaff;

}



.cards {

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
    gap:25px;

}



.cards div {

    background:
    rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.1);

    padding:30px;

    border-radius:20px;

    backdrop-filter:blur(10px);

    transition:.3s;

}



.cards div:hover {

    transform:translateY(-10px);
    border-color:#00aaff;

}



.cards h3 {

    color:#00aaff;
    margin-bottom:15px;

}



footer {

    text-align:center;
    padding:30px;
    background:#020409;
    color:#aaa;

}



@media(max-width:700px){

header {

    flex-direction:column;
    gap:20px;

}


.hero h2 {

    font-size:35px;

}


}
.whatsapp {

background:#25D366;

}


.whatsapp:hover {

box-shadow:0 0 25px #25D366;

}
.advantages {

padding:70px 8%;
text-align:center;

}


.advantages h2 {

color:#00aaff;
font-size:35px;
margin-bottom:40px;

}
/* Mobile Optimization */

@media (max-width:768px){

body{
    overflow-x:hidden;
}

h1{
    font-size:34px;
}

h2{
    font-size:28px;
}

.hero{
    padding:40px 20px;
}

.btn{
    display:block;
    width:90%;
    margin:15px auto;
    text-align:center;
}

section{
    padding:40px 20px;
}

.cards{
    grid-template-columns:1fr;
}

footer{
    text-align:center;
}

}
.logo {
    width: 120px !important;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
}
.logo {
    width: 120px !important;
    height: auto !important;
}
