*{
box-sizing:border-box;
}

body{
margin:0;
font-family:tahoma,Arial;
background:#050816;
color:white;
direction:rtl;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

header{
background:#070b18;
padding:20px 0;
border-bottom:1px solid #1e293b;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:28px;
font-weight:bold;
}

.logo span{
color:#00e5ff;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
}

.hero{
padding:80px 0;
}

.hero-content{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
align-items:center;
}

.badge{
display:inline-block;
padding:10px 20px;
border-radius:30px;
background:#00e5ff;
color:#000;
font-weight:bold;
}

h1{
font-size:45px;
line-height:1.5;
}

p{
font-size:18px;
line-height:2;
color:#cbd5e1;
}

.buttons{
margin-top:30px;
}

.btn{
display:inline-block;
padding:15px 30px;
border-radius:10px;
text-decoration:none;
margin-left:10px;
}

.primary{
background:#00e5ff;
color:#000;
}

.secondary{
border:1px solid #00e5ff;
color:white;
}

.hero-box{
background:#111827;
padding:30px;
border-radius:20px;
}

.terminal{
font-size:18px;
line-height:2;
}

section{
padding:60px 0;
}

h2{
font-size:35px;
}

.services-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.service{
background:#111827;
padding:25px;
border-radius:15px;
border:1px solid #1e293b;
}

.contact{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

input,textarea{
width:100%;
padding:15px;
margin:10px 0;
background:#111827;
border:1px solid #334155;
color:white;
border-radius:10px;
}

textarea{
height:120px;
}

button{
border:none;
cursor:pointer;
}

footer{
text-align:center;
padding:30px;
background:#070b18;
}


@media(max-width:800px){

.hero-content,
.contact,
.services-grid{
grid-template-columns:1fr;
}

h1{
font-size:30px;
}

}
